<main>
  <h1 class="jumbotron">Benjaman Womble</h1>
</main>

<section class="container">

  <div class="row">
    <div class="card text-white bg-primary mb-3 col-md-4">
      <div class="card-header">Technical Skills</div>
      <div class="card-body">
        <div class="card-text">
          <ul>
            <li>.net</li>
            <li>C#</li>
            <li>Html5 + CSS3</li>
            <li>Jquery</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3 offset-md-4 col-md-4">
      <div class="card-header">Technical Skills</div>
      <div class="card-body">
        <div class="card-text">
          <ul>
            <li>Microsoft Office</li>
            <li>Customer Service</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    Hi! My name is Ben Womble, I am a Web Development student at Ranken Technical College.
    Some of my favorite hobbies are gaming and automotive work/meets. I am always looking
    for something new to do or learn. I go to as many car meets as i can manage. I play video
    games or help people with project cars in my down time.
    <br><br>
    As for Web Development, This passion began in high school when i took my programming class
    learning C++ and python3. I loved this class and always looked forward to it. I immediately
    began looking for Web Development schools in my area and met an instructor from Ranken who
    helped me decide this was the school for me.
  </div>

  <div class="text-center">
    <img class="img-fluid" src="/images/proPic.jpg" alt="">
  </div>
</section>