<main>
    <h1 class="jumbotron text-center">Samples Of My Work</h1>
    <div class="text-center">
        <iframe width="70%" height="20%"
            src="https://docs.google.com/document/d/e/2PACX-1vRqUnnrMKynbJEXdkB6f-BZusky5STpwDjE3XrPQOkQunMV_1BatVjuWAjHmSPnzg/pub?embedded=true"></iframe>
        <br>
        <a class="btn btn-primary" href="https://drive.google.com/file/d/1G9lLpBz9RvRxEPKnh6DOOzCAJPCdkud0/view"
            target="_blank"><i class="far fa-file-alt"></i> Download My
            Resume!</a>
        <br>
        <a target="_blank" class="btn btn-success mt-1" href="https://github.com/Wombleben224/portfolioprojects"><i
                class="fas fa-arrow-right"></i> Go To Repository</a>
    </div>
    <section class="container mt-2">
        <div class="row">
            <div class="card text-white bg-dark col-md-6 col-sm-12">
                <div class="card-header">Outcast Car Club</div>
                <div class="card-body text-center">
                    <a target="_blank" href="http://iwt.ranken.edu/bwomble/final_project"><img class="img-fluid"
                            src="/images/outcastIMG.PNG" alt=""></a>
                    <div class="m-4">2019 - .net Framework, jquery, Html5</div>
                    <p>This project was built for a St Louis car club. It was made to give the club a way to showcase
                        all of the members, inform members of new events, and also provided a chat function for members.
                    </p>
                </div>
            </div>
            <div class="card text-white bg-dark col-md-6 col-sm-12">
                <div class="card-header">Work Order Website</div>
                <div class="card-body text-center">
                    <img class="img-fluid" src="/images/workOrder.PNG" alt="">
                    <div class="m-4">2019 - .net Framework, jquery, Html5</div>
                    <p>This webpage will allow users to make work orders for an auto repair shop.</p>
                </div>
            </div>
            <div class="card text-white bg-dark col-md-6 col-sm-12">
                <div class="card-header">Outcast Car Club App</div>
                <div class="card-body text-center">
                    <img class="img-fluid" src="/images/outcastApp.PNG" alt="">
                    <div class="m-4">2020 - Java</div>
                    <p>This project was built to extend the Outcast website to mobile, It makes it possible for members
                        to receive notifications from their phones. It will notify them of new Members and new Events
                        that have been posted to the webpage.</p>
                </div>
            </div>
        </div>
    </section>
</main>